
header img /*doesn't work with .logo img or .logo*/
{
	width: 20%;
}
nav .inscrire
{   
    position: absolute;
	top: 0;
	right: 0;
	color: #0065FC;
}
nav .jump-category
{   
	border-bottom: 2px solid #0065FC;

}






.search-field {
    height: 110px;
    width: 600px;
    border: 5px solid #F2F2F2;
    border-right: 0px;
    border-left: 0px;
    font-size: 4rem;
}
.search-button {
    height: 110px;
    padding: 0px 20px;
    margin-left: -10px;
    border-radius: 35px;
    /* border-bottom-right-radius: 30px; */
    background-color: #0065FC;
    color: #fff;
    font-size: 4rem;
    border: 1px solid #F2F2F2;
}