@font-face
{



}


h2 p
{

	word-wrap: break-word;
}

nav ul
{
	list-style: none;
}

nav em
{
	color: rgb(0, 88, 253);
	font-weight: bold;
}

.checked  /*Star rating*/
{
	color: rgb(0, 88, 253);
}






aside
{
	width: 350px;
	margin: auto;

	border: ;
	text-align: left;
	padding: ;
	margin-top: 30px;
}



#conteneur, #conteneurpopulaire
{
	border: 5px solid #rgb(174, 210, 240);
	border-radius: 20x / 10px;

	display: flex;
/*	flex-direction: row; */
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;


}

.element
{
	border: 5px solid #ffffff;
	border-radius: 20x / 10px;
	margin: auto;
}

#activite /*need to change*/
{
	border: 5px solid #rgb(174, 210, 240);
	border-radius: 20x / 10px;

	display: flex;
/*	flex-direction: row; */
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.activite
{
	border: none;
	border-radius: 20x / 10px;
	box-shadow: ;
	margin: auto;
}


footer
{
	background-color: rgb(214, 227, 228);
	margin-top: 40px;
	padding: 20px 0 40px 0;
}

#footerconteneur
{
	display: flex;
	justify-content: space-between;
	align-items: center;

}


.footerelement
{
	margin: auto;
}


footer h3
{
	font-weight: bold;

}