/*@font-face
{ 
	font-family: 'Raleway';
	src: url('Raleway-Italic-VariableFont_wght.ttf') format('truetype'),
  		 url('Raleway-VariableFont_wght.ttf') format('truetype'),
}

*/
*
{
	padding: 0px;
	margin: 0px;
}
body
{
	font-family: Raleway, sans-serif;
	font-size: 14px;
	color: black;

}
a
{
	text-decoration: none;
	color: black;
}

header img /*doesn't work with .logo img or .logo*/
{
	width: 10%;
	height: auto;
}
nav ul
{

	display: flex;
	flex-flow: row wrap;

	position: absolute;	
	top: 0;	
	right: 0;

	list-style: none;
	text-indent: 8px;
}

nav em
{
	color: #0065FC;
	font-weight: bold;
}

.checked  /*Star rating*/
{
	color: #0065FC;
}
.unchecked
{
	color: #F2F2F2;
}
.recherche
{
		background-color: #DEEBFF;
		height: 34px;
		border: 1px solid #000;
		display: inline-block;
		padding-top: 5px;
		padding-left: 10px;
		padding-right: 10px;
		margin-right: -6px;
		border-right: 0px;
	border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;

}
.search-field
{
    height: 40px;
    width: 220px;
    border: 1px solid #000;
    border-right: 0px;
    border-left: 0px;
}
.search-button
{
	height: 40px;
    padding: 0px 20px;
    margin-left: -7px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #0065FC;
    color: #fff;
    border: 1px solid #000;
}

#place i
{
	color: black;
	background-color: #F2F2F2;/*gray*/
}


#button-container
{
	display: inline-flex;
}

#button-container i
{
	color: #0065FC;
	background-color: #DEEBFF;/*clear bleu*/
	border: none;
	border-radius: 50%;
	padding: 10px;
	font-size: 1.5em;
}
.round-button
{
  background-color: white; /* 
  font-size: 10px; */
  color: #F2F2F2;
  border: 2px solid;
  border-radius: 50px;
  padding: 0 15px 0 0;
  text-align: center;
  display: inline-block;
  margin: 10px;

  transition-duration: 0.4s;
}
.round-button .text
{
    color: #000;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.2rem;
}

.round-button:hover
{
	background-color: #DEEBFF;
	color: #888888;
}

#info i
{
	color: #0065FC;
	background-color: white;
	border: 2px solid #DEEBFF;
	border-radius: 50%;
	padding: 10px;

}
article h2, p
{
	text-indent: 5px;
}

article
{
	display: flex;
	width: 100%;
/*	flex-flow: row wrap; 
	justify-content: flex-start;
*/
}

#hebergements, #populaires
{
	display: flex;
	align-items: flex-start;
	justify-content: space-around;

	border: none; 
	border-radius:  30px / 30px;
	margin: 10px 10px;
	background-color: #F2F2F2;
}
#hebergements
{		 
	width: 65em;
	flex-flow: row wrap;
}
#populaires
{
	width: 35em;
	flex-direction: column;
	
}
.articletitle
{
	flex: 1 100%;
	text-indent: 5%;
}
.element
{
	width: 30%;
	height: 15em;
	border: 5px solid #ffffff;
	border-radius: 15px / 15px;
	box-shadow: 5px 5px 5px #d9dadb;
	margin: 5px 5px;
	padding: 5px;
	font-size: 0.8em;

	align-content: space-around;
	background-color: #ffffff;
}
article img
{
	width: 100%;
	height: 50%;
	border-radius: 15px 15px 0 0 ;
}	
#populaires img
{
	border-radius: 15px 0 0 15px;
	float: left;
}
#populaires .element
{
	width: 90%;
	height: 10em;
}
#activite 
{
	width: 100%;
	height: 500px;
	border: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.a-title  /*i put the same name .articletitle at 150 but didn't work so changed html*/
{
	flex: 1 100%;
	text-indent: 2%;
}
#activite img
{
	width: 100%;
	height: 85%;
	border-radius: 15px 15px 0 0 ;
}	
.activite
{
	width: 22%;
/*	height: ;   each element has the height*/
	border: none;
	border-radius: 15px / 15px;
	box-shadow: 5px 5px 5px #d9dadb;
	margin: 5px 5px;
	padding: 0;
	font-size: 0.5em;
	text-align: start;

	align-content: space-around;
	background-color: #ffffff;	
}
.activite2, .activite3, .activite5, .activite6
{
	height: 200px;	
}
.activite1, .activite4
{
	height: 450px;
}
footer
{
	background-color: #F2F2F2;
	margin-top: 40px;
	padding: 20px 0 40px 0;
}

#footerconteneur
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	align-items: flex-start;
}
.footerelement
{
	font-size: 0.8em;
}
footer ul
{
	list-style: none;
}